name: Integration Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true

jobs:
  test:
    if: ${{ github.repository == 'Ally-Guide/amplify-back-end' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out repo
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f

      - name: Setup node
        uses: actions/setup-node@38d90ce44d5275ad62cc48384b3d8a58c500bb5f
        with:
          node-version: 16.x
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test -- server/__tests__/integration/
        env:
          # Google Civic API key
          CIVIC_API_KEY: ${{ secrets.TEST_CIVIC_API_KEY }}
          # Test environment Lob API key
          LOB_API_KEY: ${{ secrets.TEST_LOB_API_KEY }}
          # Auth0 authentication parameters with nonsensical sample values
          ISSUER_BASE_URL: https://YOUR_AUTH_DOMAIN
          CLIENT_ID: YOUR_CLIENT_ID
          BASE_URL: https://localhost:5000/
          SECRET: LONG_RANDOM_VALUE
