name: ROI pull request metrics

on:
  issues: 
    types: [assigned]
  pull_request:
    types: [review_requested] 

jobs:
  record_timestamps:
    runs-on: ubuntu-latest
    steps:
      - name: Get Current Timestamp
        id: timestamp
        run: echo "::set-output name=timestamp::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

      - name: Set Issue Timestamp
        id: issue_timestamp
        if: github.event_name == 'issues'
        run: echo "${{ steps.timestamp.outputs.timestamp }}" >> issue_timestamp.log
        working-directory: roiScript

      - name: Set PR Timestamp
        id: pr_timestamp
        if: github.event_name == 'pull_request'
        run: echo "${{ steps.timestamp.outputs.timestamp }}" >> pr_timestamp.log
        working-directory: roiScript

  calculate_time_difference:
    needs: record_timestamps
    runs-on: ubuntu-latest
    steps:
    - name: Calculate Time Difference
      id: time_difference
      run: |
        issue_timestamp=$(cat ${{ github.workspace }}/issue_timestamp.log)
        pr_timestamp=$(cat ${{ github.workspace }}/pr_timestamp.log)
        issue_time=$(date -d "${issue_timestamp}" +%s)
        pr_time=$(date -d "${pr_timestamp}" +%s)
        time_diff=$((pr_time - issue_time))
        echo "::set-output name=time_diff::${time_diff}"

  metric:
    needs: calculate_time_difference
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18 # pick the node version that's compatible with libraries 

    - name: Print Node.js path
      run: which node
      
    - name: Install
      run: npm install
      working-directory: ./roiScript

    # TODO: pass these results to the Run script after running the action step 
    # TODO: for now find a workaround for this library 
    # - name: Run issue-metrics tool
    #   uses: github/issue-metrics@v2
    #   env:
    #     GH_TOKEN: ${{ secrets.GH_TOKEN }}
    #     SEARCH_QUERY: 'repo:ProgramEquity/amplify is:pr number:${{ github.event.pull_request.number }}'

    - name: Run
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        PR_PAYLOAD: ${{ steps.pr-payload.outputs.pr_payload }}
        TIME_DIFF: ${{ steps.calculate_time_difference.outputs.time_diff }}
      run: node ./roiScript/issue-metrics.mjs
