name: ROI pull request metrics

on:
  issues:
    types: [assigned, unlabeled]
    # repository:
    #   - ProgramEquity/amplify
  pull_request:
    types: [opened]
    branches:
      - main 

jobs:
  metric:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Issue Metrics
      uses: github/issue-metrics@v2
      with:
        entryPoint: ./issue-metrics.js
        # entryPoint: ${{ github.workspace }}/issue-metrics.js
        args: '{"github-token": "${{ secrets.GH_TOKEN }}", "payload": ${{ toJson(github) }}}'  
